.container-header {
  position: relative;
  background-color: #1976d2;
  color: white;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;

  .tema-sun {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
  }

  .tema-sun:hover {
    cursor: pointer;
  }

  .tema:after {
    content:'';
    display:table;
    clear:both;
  }

}

.container-App {
  text-align: center;
}


body {
  background-color: red;
}