<div class="container-App">

  <div class="container-header" >
    <div class="container-listHeader">
      <ul class="listHeader">
        <li key="ul_li_home">
          <a routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <span class="normal">Католог</span>
            <span class="bold">Католог</span>
          </a>
        </li>
        <li key="ul_li_test">
          <a routerLink="/collection" routerLinkActive="active">
            <span class="normal">Коллекция</span>
            <span class="bold">Коллекция</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tema-sun" (click)="darkTema()" >☀</div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
