.container-CollectionKartochek {
  margin-top: 10px;

  .div-button_clear {
    text-align: right;
    padding: 10px;

    margin: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
  }
}
