<div class="container-opisanie">
  <div class="opisanie-data">
    <div class="opisanie-title-info">
      <div class="opisanie-title text_dots">Автор:</div>
      <div class="opisanie-info left-space text_dots">
        {{ props.author }}
      </div>
    </div>

    <div class="opisanie-title-info">
      <div class="opisanie-title text_dots">Cоздано:</div>
      <div class="opisanie-info left-space text_dots" >
        {{this.props.created}}
      </div>
    </div>

    <div class="opisanie-title-info">
      <div class="opisanie-title text_dots">Локация:</div>
      <div class="opisanie-info left-space text_dots" >
        {{this.props.location}}
      </div>
    </div>
  </div>
</div>
