/* You can add global styles to this file, and also import other style files */

html, body {
  background-color: #9fc4fd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

.finter-invert {
  filter: invert(100%);
}

.finter-invert img {
  filter: invert(100%);
}

.text_dots{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
